
# Mac finder artifacts
.DS_Store

# vim artifacts
**.swp
**.swo
**.swn

.env
.rubocop.yml

Gemfile.lock
.byebug_history
config/database.yml
db/schema.rb

config/master.key
tmp/storage/
log/development.log
tmp/cache/
tmp/*
log/*

reviewer.sh
